<!DOCTYPE html>
<html>
<head>
  <title>Zamowienia</title>
  <%= stylesheet_link_tag('application', :media => 'all' ) %>
  <%= javascript_include_tag('application') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- główna --> 
	<div class="container">
<div class="alert alert-success" style="text-align: center;">
<% if !flash[:notice].blank? %>
<%= flash[:notice] %>
<%end%>
</div>
<%= yield %>
</div>

<!-- stopka -->

<div id="footer">
<div class="container">
	<p class="text-muted">
		Zamowienia In&Out &copy , Daniel L. 
		</p>
		</div>
		</div>

</body>
</html>
